*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}
.outer-main{
	width: 100%;
}
.outer{
	width: 1300px;
	margin: auto;
	padding: 15px 0px;
	box-sizing: border-box;	
}
.all-images{
	display: flex;
	width: 300px;
	align-items: center;
	position: relative;
	margin: auto;
	transition: 0.5s;
	overflow: hidden;
	height: 300px;
}
img{
	width: 300px;
	height: 300px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.image1{
	transition: 2s;
	left: -600px;
}
.image2{
	transition: 2s;
	left: -300px;
}
.image3{
	transition: 2s;
	left: 0px;
}
.all-images:hover .image3{
	transform: translate(600px);
}
.all-images:hover .image2{
	transform: translate(600px);
}
.all-images:hover .image1{
	transform: translate(600px);
}